{
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "printWidth": 80,
    "proseWrap": "never",
    "singleQuote": true,
    "trailingComma": "all",
    "useTabs": false,
    "tabWidth": 4
}
